@import '../../../../variables';

.top-bar-container {
  font-size: $text-big;
  display: flex;
  text-align: center;
  border-bottom: $border;
  background: $top-bar-bg-color;
  padding: $space-regular;
  color: $top-bar-text-color;

  .app-name {
    align-self: center;
    flex: 2;
    font-size: $text-small;
    font-family: $button-font-family;
  }
  .settings {
    align-self: flex-end;
    flex: 1;
    cursor: pointer;
    font-family: $button-font-family;
  }
}
